<div id="page-wrapper">
  <div class="row">
                 <div ng-if='$ctrl.widget' class="col-lg-12">
                     <h1 class="page-header">{{$ctrl.widget.name|translate}}</h1>
                 </div>

    </div>
    <div ng-if='!$ctrl.widget' class="col-lg-12" style="text-align:center; margin-top:25%">
      <p class="text-settings">{{'panelWelcomeText'|translate}}</p>
    </div>
    <div ng-if='$ctrl.widget.installed == false' class="col-lg-12" style="text-align:center; margin-top:15%">
      <p class="text-settings">{{'notInstalled'|translate}}</p>
       <button ng-click="$ctrl.installWidget()" type="button" class="btn btn-info btn-lg" style="min-width:120px">{{'install'|translate}}</button>
    </div>
    <div ng-if="$ctrl.widget.installed">
      <text-widget-component ng-if="$ctrl.widget.key=='text'"></text-widget-component>
      <image-widget-component ng-if="$ctrl.widget.key =='image'"></image-widget-component>
      <map-widget-component ng-if="$ctrl.widget.key =='map'"></map-widget-component>
    </div>
    <!-- <ui-view></ui-view> -->
</div>
